.header {
    background-color: rgb(0, 162, 255);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 0 0 50px;
}
.load {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.userList {
    padding: 30px 100px 30px 100px;
    display: flex;
    justify-content: center;
}   
.usersTable {
    width: 100%;

}
.usersTable th,
.usersTable td {
    border: 1px solid #a0d6fa;
    padding: 12px;
    text-align: center;
}
.usersTable tr:hover {
    background-color: #a4deff;
    cursor: pointer;
}
.pageBar {
    width: 100%;
    background-color: rgb(104, 200, 255);
    height: 80px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0 30px 0 30px;
}
.fieldGr {
    width: 300px;
}
.scroll {
    display: flex;
    align-items: center;
    gap: 10px;
}
.back {
    width: 100%;
    background-color: #a0d6fa;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.infoUser {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.5;
    margin-top: 20px;
    background-color: #a4deff;
    border-radius: 10px;
}
.infoUser:hover {
    background-color: #7ccdfc;
    transition: background-color 0.2s ease-in;
}
.container {
    display: flex;
    justify-content: center;
}